<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>NSUserDefaults事件监听</string>
		<key>className</key>
		<string>NSUserDefaultsController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>rac 控件事件改Block 方法及原理</string>
		<key>className</key>
		<string>SignalForControlEventsController</string>
	</dict>
</array>
</plist>
